@media (min-width: 1200px)
.topbar__mobile-hhs hidden-md hidden-lg clearfix {
  display: none !important;
}

.header__banner-text-top {
  line-height: 22.8571px;
}

.header__banner-text-middle {
  line-height: 54.2857px;
}

@media only screen and (min-width: 1200px) {
  .header .header__banner {
    width: 100%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
}

.ahrq #primary-header .primary-header-wrapper {
    padding-left: 1vw;
    padding-right: 1vw;
}

@media (min-width: 992px) {
   .col-md-offset-0p5 {
    margin-left: 1vw;
  } 
}
