.App {
  margin-top: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor:  auto !important;
}

.ui.form .field>label {
  font-weight: 450;
}

.custom-checkbox {
  margin-right:  0.4em;  
  margin-left:  0em;
}

.custom-icon-padding {
  margin-left: 4px !important;
}

.search-tags {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pill-list-item {
  display: inline-block !important;
}
.pill-list-item label {
  cursor: pointer;
}
.pill-list-item input[type="checkbox"] {
  display: none;
}

.pill-list-label {
  text-decoration: none;
}
.pill-list-item input[type="checkbox"]:checked + .pill-list-label {
  background-color: #25394D;
  color: #FFF;
}

.filter-header {
  display: inline;
}
.filter-header + .btn-link {
  float: right;
}
button.btn-link {
  font-size: 1rem;
  font-weight: 400;
  color: #25394D;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
button.btn-link:hover {
  text-decoration: underline;
}

.ui.primary.button {
  box-shadow: 0 0 0 0 rgb(34 36 38 / 15%) inset;
}

.ui.primary.button {
  background-color: #25394D !important;
}

.ui.blue.label, .ui.blue.labels .label {
  background-color: #25394D !important;
  border-color: #25394D !important;
}

.ui.green.label, .ui.green.labels .label {
  background-color: #2FB690 !important;
  border-color: ##2FB690 !important;
}

i.green.icon {
  color: #2FB690 !important;
}

i.blue.icon {
    color: #25394D !important;
}

.default-sort {
    display: inline-block !important;
}
.default-sort > label {
    margin-right: 0.15em !important;
}