.App {
  margin-top: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor:  auto !important;
}

.ui.form .field >label {
  font-weight: 450;
}

.custom-checkbox {
  margin-right:  0.4em;  
  margin-left:  0em;
}

.custom-icon-padding {
  margin-left: 4px !important;
}

.search-tags {
  margin-right: 4px;
  margin-top: 4px;
  display: inline-block;
}

.pill-list-item {
  display: inline-block !important;
}
.pill-list-item label {
  cursor: pointer;
}
.pill-list-item input[type="checkbox"] {
  display: none;
}

.pill-list-label {
  text-decoration: none;
}
.pill-list-item input[type="checkbox"]:checked + .pill-list-label {
  background-color: #25394D;
  color: #FFF;
}

.filter-header {
  display: inline;
}
.filter-header + .btn-link {
  float: right;
}
button.btn-link {
  font-size: 1rem;
  font-weight: 400;
  color: #25394D;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
button.btn-link:hover {
  text-decoration: underline;
}

.ui.primary.button {
  box-shadow: 0 0 0 0 rgb(34 36 38 / 15%) inset;
}

.ui.primary.button {
  background-color: #25394D !important;
}

.ui.blue.label, .ui.blue.labels .label {
  background-color: #25394D !important;
  border-color: #25394D !important;
}

.ui.green.label, .ui.green.labels .label {
  background-color: #258C6D !important;
  border-color: #258C6D !important;
}

i.green.icon {
  color: #258C6D !important;
}

i.blue.icon {
  color: #25394D !important;
}

.wrap-text {
  white-space: normal !important;
}
.search-bar {
  background-color: #224DBA;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 12px;
}

.search-bar .description {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.search-wrapper {
  width: 100%;
  padding-bottom: 0.25em;
}

.search-form {
  margin: 0 auto;
  width: 80%;
}

.search-results-navigation {
  min-height: 68px;
}

i.search.icon {
  color: black;
}

.ui.primary.button.search {
  color: #2FB690 !important;
}

.search-results-count > span {
  font-size: large;
  font-weight: 450;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  height: 40px
}

.artifact-type-select {
  margin-bottom: 25px;
}

.ui.card .meta {
  color: #692A74 !important;
  padding-top: 3px;
}

.ui.card>.extra a:not(.ui), .ui.cards>.card>.extra a:not(.ui) {
  color: #25394D !important;
  overflow-wrap: break-word;
}

.advanced-search-options {
  color: #E0E1E2;
  padding-top: 10px;
}

.artifact-meta {
  padding-bottom: 15px;
  font-weight: 600;
}

.download-button {
  margin-left: 10px !important;
}