@media print {
  @page {
    size: portrait;
  }
  body * {
    visibility: hidden;
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .no-print, .no-print * {
    display: none !important;
  }
  .section-to-print {
    position: absolute !important;
    left: 0;
    top: 0;
    min-width: 100% !important;
  }

  .ui.fluid.card {
    border-top: 1px solid #d4d4d5;
    border-bottom: 1px solid #d4d4d5;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
}
