@media print {
  @page {
    size: portrait;
  }
  body * {
    visibility: hidden;
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .no-print, .no-print * {
    display: none !important;
  }
  .section-to-print {
    position: absolute !important;
    left: 0;
    top: 0;
    min-width: 100% !important;
  }
}
