.App {
    margin-top: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-auto {
    cursor:  auto !important;
}

.ui.form .field>label {
    font-weight: 450;
}

.custom-checkbox {
    margin-right:  0.4em;  
    margin-left:  0em;
}

.custom-icon-padding {
    margin-left: 4px !important;
}

.search-tags {
    padding-top: 4px;
    padding-bottom: 4px;
}

.pill-list-item {
    display: inline-block !important;
}
.pill-list-item label {
    cursor: pointer;
}
.pill-list-item input[type="checkbox"] {
    display: none;
}

.pill-list-label {
    text-decoration: none;
}
.pill-list-item input[type="checkbox"]:checked + .pill-list-label {
    background-color: #2185D0;
    border: 1px solid #2185D0;
    color: #FFF;
}
